<a href="https://colab.research.google.com/github/LightningNemesis/score-predictor-Linear-Regression/blob/main/RA811028010031_AI_Practical_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Aim: Implementation of Linear Regression algorithm to predict students score using the given dataset. (students-score.csv)

#### Algorithm for prediction using Linear Regression model: 

1. Import the LinearRegression Library from Scikit learn which fits a linear model to minimize the residual sum of squares between the observed targets in the dataset, and the targets predicted.
2.  Setup the Linear Regression Model, passing fit_intercept=True, as a param, indicating we need to calculate intercept for this model.
3. Import the dataset from the csv file.
4. Select the features and target from the dataset.
5. Fit the model by passing the features & targets as parameters.
5. Create a test data by extracting some data from the features (x).
6. Predict the output by using the test data as parameters.
7. Calculate the mean squared error by calculating the residuals between the predicted output and actual output.
8. Print the accuracy score by passing the features and targets.

In [22]:
# Importing the necessary libraries
from sklearn.linear_model import LinearRegression

In [4]:
# Setting up Linear Regression model
trainer=LinearRegression(fit_intercept=True)

In [6]:
# Input of Data and Showing the Data
import pandas as pd
import numpy as np
data = pd.read_csv("/content/student_scores - student_scores.csv")
data

    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
9     2.7      25
10    7.7      85
11    5.9      62
12    4.5      41
13    3.3      42
14    1.1      17
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

In [15]:
# Selecting the Features and Targets
features = data.iloc[:,:1]
target = data.iloc[:,-1]

print(features.head())
print("-------------------")
print(target.head())

   Hours
0    2.5
1    5.1
2    3.2
3    8.5
4    3.5
-------------------
0    21
1    47
2    27
3    75
4    30
Name: Scores, dtype: int64

In [20]:
# Fitting the model to Features & Target
learner = trainer.fit(features,target)

# Making a test data and doing the prediction
test_data = features.iloc[:5]
print('test_data:')
print(test_data)
print()

print('predicted data:')
print(learner.predict(test_data))
print()

print('test labels:')
test_labels = data.iloc[:5,-1]
print(test_labels)

test_data:
   Hours
0    2.5
1    5.1
2    3.2
3    8.5
4    3.5

predicted data:
[26.92318188 52.3402707  33.76624426 85.57800223 36.69898527]

test labels:
0    21
1    47
2    27
3    75
4    30
Name: Scores, dtype: int64

In [25]:
# Evaluation matrices
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error

# Getting the error of the model
error=np.sqrt(mean_squared_error(test_labels,learner.predict(test_data)))
print("RMS Error is: ",error)

# printing the Accuracy
accuracy=learner.score(features,target)
print("Accuracy is: ",accuracy*100)

RMS Error is:  7.2959601270732914
Accuracy is:  95.29481969048355

In [28]:
# Predicting a new output
print(learner.predict([[7.8]]))

[78.73493985]

Result:

Implementation of Linear Regression algorithm to predict students score using the given dataset has been successfully implemented.